.login-wrapper-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 5em;

  .logo {
    h4 {
      color: #0f2c67;
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .language-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
