.login-wrapper-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 1em;

  .logo {
    h4 {
      color: rgb(182, 127, 26);
      font-size: 1.4em;
    }
  }

  .language-container {
    .language-select {
      width: 5em;
    }
  }
}
