.login-form-container {
  width: 100%;
  max-width: 30em;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: grayscale(0.5) opacity(0.8);

  h2 {
    margin: 0;
  }

  .login-form {
    width: 100%;
    max-width: 30em;
    background-color: #fff;
    margin: 1em auto;

    .input-container {
      width: 100%;
      margin: 1em 0;
    }

    .submit-button {
      background-color: #0f2c67;
      span {
        color: #f4e185;
      }
    }
  }

  .signup-link {
    color: #777;
    font-size: 0.8em;
    margin: 0;
  }
}
